<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Vet Fetch</h1>
    <div id="app">{{{react}}}</div>

    <script type="text/javascript" src="/build/bundle.js"></script>
  </body>
</html>